
@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Light (1).otf');
}
   

 *  
{
    font-family: 'Poppins';
    list-style: none; 
    padding:0;
    margin:0; 
    background-color:cornflowerblue;
}

input[type=submit] {
    padding: 20px 30px;
    width: 150px;
    transition: .5s;
    border: 1px solid aliceblue;
    background-color: aliceblue;
    margin:0 20px;
}
    input[type=submit] :hover {
        border: 1px solid aliceblue;
        background-color: lightskyblue;         
        color: aliceblue;
        transition: .5s;
    }

input[type=text], [type=password] {
    padding: 5px 15px;
    width:400px;
    border:none;
    border-radius:10px;
    outline:none;
    opacity:.6; 
   
}

    input[type=text]:focus, [type=password]:focus {
        opacity: 1; 
        background-color:aliceblue;
    }

    li {
        margin-bottom: 20px;
    } 

.geral {
    width:calc(100% - 700px);
    height:auto;
   /* background-color:red;*/
    text-align:center;
    margin:0 auto;
    padding-top:150px;
}
      
.geral>h1 {
    font-size:70px;
    margin-bottom:50px;
    text-transform:uppercase;
    font-weight:100;
    color:aliceblue;
} 
body {
    background-color:#333;
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color:cornflowerblue;
    padding: 80px 0;
} 

table {
    width: 100%; 
    text-align:center;
    color:aliceblue;
}  

th{
    font-size:20px;
    height:40px;
    line-height:40px
} 

table td{
    padding:5px 0;
}


table input[type=button]{
    padding:5px 10px;
    border:none;
} 

span{
    color:aliceblue;
}

.menu {
    width: 100%;
    height: 70px;
    background-color:cornflowerblue;
    position: fixed;
    z-index: 99;
}

.menuInner{
    display:flex;
    height:70px;
    line-height:70px;
}

.menuInner img{
    height:70px; 
}

.menuInner li{
    margin:0 15px;
}

    .menuInner a {
        text-decoration: none;
        color: black;
        transition: .3s;
    }

.menuInner a:hover{
    font-size:30px;
    color:blueviolet;
    transition: .3s;
}
.footer {
    width: 100%;
    height: 150px;     
    background-color: royalblue;
    opacity: .6;
    
}

.footerinner {
    display: flex;
    height: 150px;
   /* line-height: 150px;*/
    justify-content:space-around;
    align-items:center;
}

    .footerinner li{
        margin:0;
    } 

  .footerinner img{
      height:100px;
  }
    