/*#region global*/
@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Light.otf');
}

/*reset*/
* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*rem*/
:root {
    font-size: 20px;
    scroll-behavior: smooth;
}

/*em*/
body {
    font-size: 12px;
    overflow-x: hidden;
}

/*colors*/
:root {
    --color-default: #11101d;
    --color-primary: deepskyblue;
    --color-secondary: aliceblue; 
    --color-tertiary: #d2d2d2;
    --color-base: #e9e9e9;
    --color-title: #333333;
    --color-base-black: black;
    --color-base-white: white;
    --color-card-about:#6495ED;
    --color-secondary2:#4169E1;
    --color-tertiary2:#2F4F4F;
}

/*sizes*/
:root {
    --super-hero: 2.5rem;
    --title-default: 1.5rem;
    --subtitle-default: 1rem;
    --paragraph-default: 1.2em;
    --anchor-default: 1.3em;
}

h1 {
    font-size: var(--title-default);
}

h2 {
    font-size: var(--subtitle-default);
}

p {
    font-size: var(--paragraph-default);
}

a {
    font-size: var(--anchor-default);
    transition: .3s;
}

label {
    font-size: var(--subtitle-default);
}

:hover {
    transition: .3s;
}

section {
    height: 100vh;
}

h1>span{
    background-color: var(--color-card-about);
    color: var(--color-base-black);
    padding: 0 .2em;
}

/*#endregion*/

/*#region topo*/
.topo {
    background-image: url('../img/bgTopo.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 70vh;
    text-align: center;

}

.topo>h1 {
    position: absolute;
    color: var(--color-tertiary2);
    top: 5em;
    right: -50%;     
    left: -50%;
    font-size: var(--super-hero);
}

.topo>h2 {
    position: absolute;
    color: var(--color-tertiary2);
    top: 11em;     
    right: -50%;
    left: -50%;
    font-size: var(--title-default);
}

.menu {
    background-color: var(--color-card-about);
    width: 100%;
    height: 10vh;      
    position: fixed;
    z-index: 100;
}

.menuInner {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;
   /* background-color: red; */
    position: relative;
}

.menuInner li>a {
    height: 100%;
    line-height: 100%;
    align-items: center;
    color: var(--color-title);
}

.menuInner li:not(:first-child) {
    display: block;
    transition: .3s;
    margin-left: 1.2rem;
}

.menuInner li:hover:not(:first-child) {
    background-color: var(--color-default);
    padding: 3.8vh 5px;
    transition: .3s;
    cursor: pointer;
}

.menuInner li:hover a {
    color: var(--color-card-about);
}

.menuInner li:last-child {
    position: absolute;
    right: 1em;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 2.5rem;
    padding: 0 .5em;
    color: var(--color-title);
}

.logo h4 {
    font-size: 2em;
    /* padding: 0 .5em; */
    color: var(--color-title);
}

.quickContact {
    width: 70%;
    height: 12em;
    background-color: var(--color-secondary2);   
    position: absolute;
    bottom: 10rem;
    margin: 0 auto;
    right: -50%;
    left: -50%;
    text-align: center;
    z-index: 99;

} 

/*#contact{
    width: 100&;
    padding-top: 5rem;
    text-align:center;
} */

#contact article{
    margin: 0 15%;
}

.quickContact h1 {
    font-size: 2.5em;
    color: var(--color-title);
    padding: .6em 0;
}

.quickContact input[type=text],
[type=email] {
    padding: 0 1em;
    width: 30%;
    margin: 0 1rem;
    border: none;
    background-color: var(--color-base);
    outline: none;
    color: var(--color-title);
}

.quickContact input[type=text]:focus,
[type=email]:focus {
    background-color: var(--color-tertiary);
}

.quickContact input[type=submit] {
    padding: 0 1em;
    width: 5rem;
    background-color: var(--color-base-black);
    color: var(--color-secondary);
    border: 1px solid var(--color-base-black);
    cursor: pointer;
    transition: .3s;
}

.quickContact input[type=submit]:hover {
    background-color: transparent;
    color: var(--color-base-black);
}

.banner {
    width: 100%;
    height: 14.5rem;
    background-color: var(--color-default);
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10em 0;
}

.banner h1,
h2 {
    color: var(--color-secondary);
}

/*#endregion*/

/*#region about*/
#about {
    padding-top: 15rem;
    width: 100%;
    text-align: center;
}
#about h1{
    padding-top: 1em;
}
.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.card {
    text-align: center;
    padding: 4em 1em;
    background-color: var(--color-card-about);
    margin: 2.5em;
    transition: .3s;
}

.card:hover {
    background-color: var(--color-base-black);
    color: var(--color-card-about);
    transform: scale(1.2);
    transition: .3s;
}


.card i {
    font-size: var(--super-hero);
}

.card h4 {
    font-size: var(--subtitle-default);
}

.card p {
    padding: 1em;
}

.card input[type=submit] {
    padding: 0 1em;
    width: 5rem;
    background-color: var(--color-base-black);
    color: var(--color-card-about);
    border: 1px solid var(--color-card-about);
    cursor: pointer;
    transition: .3s;
}

.card input[type=submit]:hover {
    background-color: var(--color-card-about);
    color: var(--color-base-black);
}

/*#endregion*/

/*#region team*/
#team {
    padding-top: 5rem;
    width: 100%;
    text-align: center;
    background-color: var(--color-default);
}
#team h1{
    padding: 2em 0;
    color:var(--color-secondary);
}
.cardTeam{
    color:var(--color-base-black);
    background-color: var(--color-secondary);
    border:1px solid var(--color-secondary);
    width: 22%;
    padding: 1em;
}

.cardTeam:hover{
    background-color: var(--color-default);
    border:1px solid var(--color-card-about);
    color:var(--color-card-about);
}


/* 
.cardTeam li:last-child{
    background-color:var(--color-base);  
} */


.cardTeam h4{
    text-transform: uppercase;
    font-size: var(--subtitle-default);
    padding: 1em 0;
}

.cardTeam img{
    width: 100%;
    border-radius: 50%;
    filter: saturate(0);
    transition: .3s;
}

.cardTeam:hover img{
    filter: saturate(1);
    transition: .3s;
    transform: scale(.8);
}

.socialMedia{
    font-size: var(--title-default);
}

.socialMedia i:hover{
    cursor: pointer;
    transform: scale(1.8);
    color: var(--color-card-about);
    transition: .3s;
}

/*#endregion*/ 

/*#region contact*/

#contact{
    width: 100%;
    padding-top: 5rem;
    text-align: center;
    height: 80vh;
}
#contact h1{
    padding-top: 1em;
}
#contact form nav{
    display: flex;    
    background-color: var(--color-default);
    padding: 20px 0;
}
#contact form nav>div{
    width: 50%;
}
#contact form nav>div>input{
    width: 70%;
    margin: 5px 15px;
    border: 3px solid;
    border-color: var(--color-tertiary2);
    border-radius: 0 30px 0 15px ;
    padding: 10px;
}  
#contact form nav>div>textarea{
    width: 70%;
    margin: 5px 15px;
    border: 3px solid;
    border-color: var(--color-tertiary2);
    border-radius: 0 30px 0 15px ;
    padding: 10px;
    resize: none;  
} 
#contact .buttonForm{
    display: flex;
    justify-content: space-around;
}
#contact .buttonForm input{
    width: 20%;
    padding: 5px 0;
    background-color: var(--color-default);
    color: var(--color-base);
    border-radius: 10px;
    font-size: var(--anchor-default);
    cursor: pointer;
}
#contact .buttonForm input:hover{
    color: var(--color-card-about);
}

/*#endregion*/ 

/*#footer*/
footer{
    text-align: center;
}
footer article{
    padding-top: 3rem;
    width: 100%;
    text-align: center;
    background-color: var(--color-default);
    display: flex;
    justify-content: space-around;
    color: var(--color-base);
}
footer .redeSocial{
    font-size: 50px;
    width: 30%;
    display: flex;
    justify-content: space-around;
}
footer .info a{
    color: var(--color-base);
   font-size: var(--subtitle-default);
}
footer .horario{
    width: 30%;

}



/*#endregion*/ 


/*-------------------RESPONSIVO-----------------*/
@media only screen and (max-width: 1024px){
    body{
       background-color:#6495ED; 
       /* --color-card-about:#6495ED; */

    } 

    .menuInner{
        width: 100%;
    } 
    .menu{
        position: relative;
    } 
    .topo>h1{
        right: 0;
        left:
        0;
    } 
    .topo>h2{
        right: 0;
        left: 0;
    } 
    #about{
        height: auto;
        padding-top: 15rem;
        /*tirar se der problema no google*/
    } 
    #team{
        height: auto;
        padding-top: 0;
        padding-bottom: 5rem;
        /*ajustar se der errado*/
    } 
    #team h1{
        padding: 1em 0;
    }
    .container{
        flex-wrap: wrap;
    } 
    .cardTeam{
        width: 44%;
        margin: 10px;
    }
} 
@media only screen and (max-width: 600px){
    .menuInner li:not(:first-child):not(:last-child){
        display: none;
       }  
       .cardTeam{
        width: 100%;
       }  

       .h1>span{
        color: var(--color-tertiary2);
       }

       #contact{
        padding-top: 0; 
        height: auto;
       }  
       #contact article{
        margin: 0;
       }
       #contact form nav{
        margin: 10px;
        flex-wrap: wrap;
       } 
       #contact form nav>div{
        width: 100%;
       } 
       #contact .buttonForm input{
        width: 25%;
       }

       footer article{
        flex-wrap: wrap;
       }   
       
       footer .redeSocial{
        width: 100%;
       } 

    
     footer .horario{
       width: 100%;
    }

      
    
} 



